*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* background Section */
.bg-img{
  width: 1212.8px;
  height: 680px;
  margin-top: -92px;
}
/* nav-bar section */
.nav{
  background: transparent;
  position: absolute;
  margin-top: -562px;
  display: flex;
  flex-direction: row;

}
.nav-logo{
  background: transparent;
  margin-left: 100px;
}
.nav-logo img{
  width: 118px;
  margin-top: -3.5px;
}
.nav-menu{
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-left: 97px;
}
.nav-1{
  background: transparent;
  color: rgb(183, 183, 183);
  font-weight: 500;
  font-size: 11.5px;
}
.nav-btn{
  background: transparent;
  display: flex;
  flex-direction: row;
  margin-left: 328px;
  margin-top: -9.5px;
}
.nav-btn-1{
  background: transparent;
  color: rgb(183, 183, 183);
  font-weight: 500;
  font-size: 11.5px;
  padding-right: 21px;
  padding-top: 9px;
}
.nav-btn-2{
  background: #F4694C;
  font-size: 11.5px;
  color: white;
  font-weight: 500;
  padding-left: 27.5px;
  padding-right: 27.5px;
  height: 37px;
  padding-top: 9px;
}
/* get-started section */
.get{
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: transparent;
  margin-top: -414px;
  margin-left: 101px;
}
.get-left{
  background: transparent;
  width: 500px;
}
.get-head{
  background: transparent;
  font-size: 40.5px;
  font-weight: 700;
  color: white;
}
.get-des{
  background: transparent;
  width: 400px;
  color: rgb(147, 147, 147);
  font-size: 11.67px;
  font-weight: 500;
  margin-top: 15px;
  line-height: 23.5px;
}
.get-btn{
  background: transparent;
  display: flex;
  flex-direction: row;
  margin-top: 33px;
}
.get-btn-1{
  background:#F4694C;
  font-size: 13.5px;
  font-weight: 500;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 31px;
  padding-right: 31px;
  border: none;
}
.get-btn-2{
  background: transparent;
  margin-left: 20.5px;
  font-size: 13.5px;
  font-weight: 500;
  padding-left: 29.5px;
  padding-right: 29.5px;
  padding-top: 12px;
  color: white;
  border: 1.5px solid white;
}
.get-right{
  margin-left: 100px;
  background: transparent;
  width: 50%;
}
.get-play img{
  width: 67px;
  margin-left: 206px;
  margin-top: 80px;
}
.get-footer{
  background: transparent;
  display: flex;
  flex-direction: row;
  margin-top: 114px;
  margin-left: 105px;
}
.get-dash img{
  width: 45px;
  padding-bottom: 3px;
  padding-right: 10px;
}
.get-king{
  width: 210px;
  color: white;
  font-size: 20.2px;
  padding-left: 2px;
  padding-top: -5px;
}
.get-right-arrow img{
  padding-top: 73px;
  width: 53px;
  margin-left: 35px;
}

/* most-popular section */
.popular{
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop-head{
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  width: 600px;
  margin-top: 144px;
}
.pop-games{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}
.act{
  font-size: 12px;
  color:rgb(89, 89, 89);
}
.game-name{
  font-size: 13.5px;
  color: white;
}
.pop-img{
  width: 238px;
  height: 294px;
}
.pop-des{
  position: absolute;
  margin-top: -100px;
  padding-top: 14px;
  padding-left: 13px;
  width: 238px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: rgb(150, 149, 149);
  height: 93px;
  line-height: 24px;
}
.pop-down{
  height: 33px;
  color: white;
  margin-left: 23px;
  margin-top: 20px;
  font-size: 11.5px;
  padding-top: 4px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #F4694C;
}
.pop-star img{
  width: 10px;
}
/* war-game section*/
.war-game{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  height: 500px;
  padding-top: 40px;
}
.war-left img{
  width: 421px;
  height: 338px;
  margin-left: -10px;
}
.war-right{
  width: 500px;
  margin-top: 12px;
}
.war-head{
  font-size: 34px;
  font-weight: 700;
  width: 450px;
}
.war-des{
  font-size: 11.8px;
  color: rgb(155, 154, 154);
  width: 435px;
  font-weight: 500;
  line-height: 23.5px;
  padding-top: 13px;
}
.war-btn{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 34px;
}
.war-btn-1{
  font-size: 13.5px;
  color: white;
  background-color: #F4694C;
  font-weight: 500;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 12px;
  padding-bottom: 11px;
}
.war-btn-2{
  font-size: 13.5px;
  color: #F4694C;
  border: #F4694C solid 1.5px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 12px;
  padding-bottom: 11px;
}